.executoryCosts {
  .ant-tabs-bar {
    background: #fff;
  }

  .costsContent {
    display: flex;
  }

  .costsContent .left {
    flex: 1;
    background: #b87575;
    height: calc(100vh - 145px);
  }

  .costsContent .center {
    width: 300px;
    background: #fff;
    margin: 0 10px;
    height: calc(100vh - 145px);
  }

  .costsContent .right {
    width: 380px;
    background: #fff;
    height: calc(100vh - 145px);
  }
}
