.quotation {
  display: flex;
  .quotationLeft {
    width: 380px;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    position: fixed;
    bottom: 0;
    top: 0;
  }

  .quotationRight {
    flex: 1;
    box-sizing: border-box;
    margin-left: 390px;
  }
}
